Repository oracle/nosql-examples, pull requests merged in 2022-11, with the labels that each got.

#73 Live Developer Lab - V0 fix
  demo-events/live-developer-lab/serverless-with-nosql-database-and-functions/workshops/freetier/index.html
  demo-events/live-developer-lab/serverless-with-nosql-database-and-functions/workshops/livelabs/index.html
Labels: bug, livelab, OCA Verified, event

#74 demo-events fix workshop template
  demo-events/oug/serverless-with-nosql-database-and-functions/workshops/freetier/index.html
  demo-events/oug/serverless-with-nosql-database-and-functions/workshops/livelabs/index.html
  demo-events/webinar/demo-nosql-lab-with-kvlite/workshops/livelabs/index.html
  demo-events/webinar/tv-streaming-service-queries/workshops/livelabs/index.html
Labels: bug, OCA Verified, event

#70 [] Add the CreateLoadComplexTable example program to the nosql-exampl…
  examples-nosql-java-sdk/CreateLoadComplexTable/README.md
  examples-nosql-java-sdk/CreateLoadComplexTable/doc/style.css
  examples-nosql-java-sdk/CreateLoadComplexTable/pom.xml
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/assembly/release.xml
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/java/nosql/cloud/table/CreateLoadComplexTable.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/java/nosql/cloud/table/config/Config.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/java/nosql/cloud/table/config/ConfigUtils.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/java/nosql/cloud/table/config/Configuration.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/resources/logging/java-util-logging.properties
  examples-nosql-java-sdk/CreateLoadComplexTable/src/main/resources/logging/log4j2-complextable.properties
  examples-nosql-java-sdk/CreateLoadComplexTable/src/test/java/nosql/cloud/table/ComplexTableTest.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/test/java/nosql/cloud/table/ComplexTableTestBase.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/test/java/nosql/cloud/table/config/ComplexTableConfigurationTest.java
  examples-nosql-java-sdk/CreateLoadComplexTable/src/test/resources/logging/test-log4j2.properties
  examples-nosql-java-sdk/CreateLoadComplexTable/src/test/resources/logging/test-util-logging.properties
Labels: nosql-java-sdk, OCA Verified

#77 tutorial-rest-spring
  examples-nosql-spring-sdk/tutorial-rest-spring/README.md
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/.gitignore
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/.mvn/wrapper/maven-wrapper.jar
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/.mvn/wrapper/maven-wrapper.properties
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/mvnw
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/mvnw.cmd
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/pom.xml
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/AppConfig.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/Employee.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/EmployeeController.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/EmployeeNotFoundAdvice.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/EmployeeNotFoundException.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/EmployeeRepository.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/LoadDatabase.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/java/payroll/PayrollApplication.java
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/main/resources/application.properties
  examples-nosql-spring-sdk/tutorial-rest-spring/nonrest/src/test/java/payroll/PayrollApplicationTests.java
Labels: nosql-spring-sdk, OCA Verified

#78 demo-livelab fix workshop
  demo-livelab/demo-lab-baggage/functions-fn/api/demo-api/func.js
  demo-livelab/demo-lab-baggage/functions-fn/api/demo-api/func.yaml
  demo-livelab/demo-lab-baggage/functions-fn/api/demo-api/package.json
  demo-livelab/demo-lab-baggage/functions-fn/load/demo-keyval-load/func.yaml
  demo-livelab/demo-lab-baggage/functions-fn/load/demo-load/func.yaml
  demo-livelab/demo-lab-baggage/functions-fn/rp-demo-fn/func.yaml
  demo-livelab/demo-lab-baggage/functions-fn/streaming/load-target/func.py
  demo-livelab/demo-lab-baggage/functions-fn/streaming/load-target/func.yaml
  demo-livelab/demo-lab-baggage/functions-fn/streaming/load-target/requirements.txt
  demo-livelab/serverless-with-nosql-database/functions-fn/api/demo-api/func.js
  demo-livelab/serverless-with-nosql-database/functions-fn/api/demo-api/func.yaml
  demo-livelab/serverless-with-nosql-database/functions-fn/api/demo-api/package.json
  demo-livelab/serverless-with-nosql-database/functions-fn/load/demo-keyval-load/func.yaml
  demo-livelab/serverless-with-nosql-database/functions-fn/load/demo-load/func.yaml
  demo-livelab/serverless-with-nosql-database/functions-fn/rp-demo-fn/func.yaml
  demo-livelab/serverless-with-nosql-database/functions-fn/streaming/load-target/func.py
  demo-livelab/serverless-with-nosql-database/functions-fn/streaming/load-target/func.yaml
  demo-livelab/serverless-with-nosql-database/functions-fn/streaming/load-target/requirements.txt
Labels: enhancement, livelab, OCA Verified

#83 demo-livelab/video-on-demand-with-nosql-database - Upgrade to @apollo/server v4
  .github/workflows/deploy-oke-oci-cli-demo-vod.yml
  demo-livelab/video-on-demand-with-nosql-database/QUERIES.md
  demo-livelab/video-on-demand-with-nosql-database/README.md
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/index.js
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/package.json
  demo-livelab/video-on-demand-with-nosql-database/example-graphql-query/create-stream.sh
  demo-livelab/video-on-demand-with-nosql-database/example-graphql-query/delete-stream.sh
  demo-livelab/video-on-demand-with-nosql-database/example-graphql-query/query-stream-by-id.sh
  demo-livelab/video-on-demand-with-nosql-database/example-graphql-query/query-stream-by-name.sh
  demo-livelab/video-on-demand-with-nosql-database/example-graphql-query/update-stream.sh
  demo-livelab/video-on-demand-with-nosql-database/oracle-app-ndcs-deployment.yaml
Labels: enhancement, nosql-node-sdk, livelab, OCA Verified

#85 Workaround Error running demo-livelab/serverless-with-nosql-database
  demo-livelab/serverless-with-nosql-database/fn-setup.tf.old
  demo-livelab/serverless-with-nosql-database/functions-fn/streaming/load-target/func.py
  demo-livelab/serverless-with-nosql-database/functions.tf
  demo-livelab/serverless-with-nosql-database/functions.tf.old
  demo-livelab/serverless-with-nosql-database/objects/query1.sql
Labels: nosql-node-sdk, nosql-python-sdk, livelab, sql-for-nosql, OCA Verified
