Repository oracle/nosql-examples, pull requests merged in 2022-12, with the labels that each got.

#86 video-on-demand-with-nosql-database: Creating indexes and using queryIterable
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/create-table.js
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/demo-stream-acct-idx1.ddl
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/demo-stream-acct-idx2.ddl
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/demo-stream-acct-idx3.ddl
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/demo-stream-acct-idx4.ddl
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/demo-stream-acct-idx5.ddl
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/index.js
Labels: nosql-dotnet-sdk, livelab, sql-for-nosql, OCA Verified

#87 examples-nosql-node-sdk/my-first-nest-rest-app
  examples-nosql-node-sdk/my-first-nest-rest-app/.eslintrc.js
  examples-nosql-node-sdk/my-first-nest-rest-app/.gitignore
  examples-nosql-node-sdk/my-first-nest-rest-app/.prettierrc
  examples-nosql-node-sdk/my-first-nest-rest-app/README.md
  examples-nosql-node-sdk/my-first-nest-rest-app/nest-cli.json
  examples-nosql-node-sdk/my-first-nest-rest-app/package-lock.json
  examples-nosql-node-sdk/my-first-nest-rest-app/package.json
  examples-nosql-node-sdk/my-first-nest-rest-app/src/app.controller.spec.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/app.controller.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/app.module.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/app.service.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/main.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/dto/create-user.dto.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/dto/update-user.dto.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/entities/user.entity.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.controller.spec.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.controller.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.module.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.service.spec.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.service.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/test/app.e2e-spec.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/test/jest-e2e.json
  examples-nosql-node-sdk/my-first-nest-rest-app/tsconfig.build.json
  examples-nosql-node-sdk/my-first-nest-rest-app/tsconfig.json
Labels: nosql-node-sdk, sql-for-nosql, OCA Verified

#88 examples-nosql-node-sdk/my-first-nest-rest-app - nestjs/with-nosql
  examples-nosql-node-sdk/my-first-nest-rest-app/package.json
  examples-nosql-node-sdk/my-first-nest-rest-app/src/main.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/nosql.service.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.controller.ts
  examples-nosql-node-sdk/my-first-nest-rest-app/src/users/users.service.ts
Labels: enhancement, nosql-node-sdk, sql-for-nosql, OCA Verified

#89 examples-nosql-java-sdk/helidon-quickstart-se-with-nosql Helidon SE Quickstart
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/.dockerignore
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/Dockerfile
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/Dockerfile.jlink
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/Dockerfile.native
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/README.md
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/app.yaml
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/pom.xml
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/GreetService.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/Main.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/package-info.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/resources/application.yaml
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/resources/logging.properties
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/test/java/io/helidon/examples/quickstart/se/MainTest.java
Labels: nosql-java-sdk, sql-for-nosql, OCA Verified

#90 examples-nosql-java-sdk/helidon-quickstart-se-with-nosql
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/README.md
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/pom.xml
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/Greet.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/GreetRepo.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/GreetRepoImpl.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/GreetService.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/java/io/helidon/examples/quickstart/se/Main.java
  examples-nosql-java-sdk/helidon-quickstart-se-with-nosql/src/main/resources/application.yaml
Labels: enhancement, nosql-java-sdk, sql-for-nosql, OCA Verified

#93 Update acctstream_loaddata.sql
  AcctStreamSchema/acctstream_loaddata.sql
Labels: sql-for-nosql, OCA Verified
