Repository oracle/nosql-examples, pull requests merged in 2023-03, with the labels that each got.

#113 examples-nosql-kvlocal/quickstart-with-kvlocal
  README.md
  examples-nosql-kvlocal/README.md
  examples-nosql-kvlocal/quickstart-with-kvlocal/Quickstart.java
  examples-nosql-kvlocal/quickstart-with-kvlocal/README.md
Labels: OCA Verified, nosql-kvlocal

#116 Adding support for Container Image Lab
  .github/pull_request_template.md
  demo-livelab/video-on-demand-with-nosql-database/core.tf
  demo-livelab/video-on-demand-with-nosql-database/datasources.tf
  demo-livelab/video-on-demand-with-nosql-database/demo-vod/index.js
  demo-livelab/video-on-demand-with-nosql-database/policies.tf
  demo-livelab/video-on-demand-with-nosql-database/provider.tf
  demo-livelab/video-on-demand-with-nosql-database/schema.yaml
  demo-livelab/video-on-demand-with-nosql-database/vars.tf
Labels: OCA Verified

#117 Update docs
  CONTRIBUTING.md
  LICENSE.txt
  README.md
  SECURITY.md
Labels: OCA Verified

#118 video-on-demand-with-nosql-database - improvement
  .github/workflows/build-and-push-demo-vod-image.yml
  demo-livelab/video-on-demand-with-nosql-database/README.md
  zips/video-on-demand-with-nosql-database.zip
Labels: enhancement, nosql-node-sdk, sql-for-nosql, OCA Verified
